<div id="responsive-field" class="class container-fluid">
  <img align="center" id="responsive-image" src="assets/EMCbanner.png" alt="EVERY MINUTE COUNTS">
  <h1 align="center" style="font-weight: bolder;">Tournament Sign-Up</h1>
  <div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  <div id="thank-you" *ngIf="submitted && !errorMsg">
    Thank you for your submission!<br>
    Please check your email for verification.
  </div>
  <form id="yellow-label" *ngIf="!submitted" #userForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="class form-group">
      <label for="">First Name</label>

      <!-- [ngModel]= property binding is one-way binding: view changes but not class
            [(ngModel)]= two-way binding: model and view in sync-->
      <input type="text" required #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched" class="class form-control" name="firstName" [(ngModel)]="userModel.firstName">
      <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">Please provide your First Name</small>
    </div>

    <div class="class form-group">
      <label for="">Last Name</label>
      <input type="text" required #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched" class="class form-control" name="lastName" [(ngModel)]="userModel.lastName">
      <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Please provide your Last Name</small>
    </div>

    <div class="class form-group">
      <label for="">Email</label>
      <input type="email" required #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" [class.is-invalid]="email.invalid && email.touched" class="class form-control" name="email" [(ngModel)]="userModel.email">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Please provide a valid email address</small>
    </div>

    <div class="class form-group">
      <label for="">Password</label>
      <input type="password" required #password="ngModel" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,22}" [class.is-invalid]="password.invalid && password.touched" class="class form-control" name="password" [(ngModel)]="userModel.password">
      <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
          <small *ngIf="password.errors.required">Please provide a password</small>
          <small *ngIf="password.errors.pattern">Please provide a password with:<br>
            ~ 8-22 characters,<br>
            ~ 1 lowercase letter,<br>
            ~ 1 uppercase letter,<br>
            ~ 1 number,<br>
            ~ and 1 special character</small>
      </div>
    </div>

    <div class="class form-group">
      <label for="">Confirm Password</label>
      <input type="password" required #confirmPassword="ngModel" pattern="{{ password.value }}" [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" class="class form-control" name="confirmPassword" [(ngModel)]="userModel.confirmPassword">
      <div class="text-danger" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <small *ngIf="confirmPassword.errors.required">Please confirm your password</small>
        <small *ngIf="confirmPassword.errors.pattern">Does not match your password</small>
    </div>
    </div>

    <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Submit</button>


  </form>
</div>