#responsive-image {max-width: 100%; height: auto; display: block; margin: 0 auto;}

#yellow-label {color:#ECB939; font-size: larger; font-weight: bolder; text-shadow: -1px -1px #000000, 1px -1px #000000, -1px 1px #000000, 1px 1px #000000;}

#responsive-field {max-width: 632px; display: block; margin: 0 auto;}

#thank-you {text-align: center;}
